<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <img src="../assets/BCBS_Logo.png" />

  <div style="float:right;">
    Need Help? <a>1-877-475-8454</a> | <a>Feedback</a> | <a>FAQ</a>
  </div>
</div>

<div class="main-container">
  <div>
    <app-plan-selector></app-plan-selector>
  </div>
</div>
<!--<div class="bottom-control">
  <div class="title">Bot ^</div>
  <div class="content">
    <app-message-system></app-message-system>
  </div>
</div>-->

<router-outlet></router-outlet>
